@charset "UTF-8";

body {
    background: linear-gradient(to bottom, #ADD8E6, #FFC0CB);
    color: blue;
    text-align: center;
    font-size: 12pt; /* La unidad correcta es "pt", no "pts" */
    font-family: Arial;
}

h1 {
    font-size: 30px;
    color: black;
    font-family: "Times New Roman";
}

h2 {
    font-size: 30px;
    color: black;
    font-family: "Times New Roman";
}

a {
    color: blue;
    text-decoration: none;

.impar{
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.par {
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
